*{
  margin: 0;

}

div.header{
  background-color: black;
  height: 50px;
  position: fixed;
  width: 100%;

}

div.content{
  padding-top:100px;
}

div.footer{
  bottom: 0px;
  background-color: black;
  height: 50px;
  position: fixed;
  width:100%
}


h1.title{
  color: white;
  margin-left:20px;
}

h6{
  color:white;
}

img.logo{
  width:100px;
  position: absolute;
  right: 12px;
  top: 10px;
}

p.ip{
  color:#c0ff33;
  position: absolute;
  left: 40%;
  top:5px;
}

code{
  background-color: grey;
  width: 200px;
  height: 100px;
}
