*{
  margin: 0;
}

div.header{
  background-color: black;
  height: 50px;
}

div.footer{
  bottom: 0px;
  background-color: black;
  height: 50px;
  position: absolute;
  width:100%
}


h1.title{
  color: white;
  margin-left:20px;
}

h6{
  color:white;
}
