<html>
<head>
  <title>~#!eg</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>

<div class=header>
<h1 class=title>#!eg</h1>

</div>
<div class=content>
  <center>
    <form action="{{url_for('show_posts')}}" method=post class=add-entry>
      Title:<input type=text size=30 name=title /><br />
      Text:<textarea name=text rows=5 cols=40></textarea>
      <br />
      <input type=submit value=share />

    </form>

<br />
<br />
{{ a }}
<br />
  <img src="{{url_for('static',filename='img/FAicon.png')}}"/>
  <br />
  {% for entry in entries %}

  <h5>{{ entry.title }}</h5>

  {{ entry.text }}
  {% endfor %}
</center>
</div>


<div class=footer>
  <br /><center>
<h6>earlshart@gmail.com</h6>
</center>


</div>

</body>
</html>
