<head>
  <html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>~#erg</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>

<div class=header>
<h1 class=title>#erg</h1><p class=ip>YOUR IPV4 = {{ a }}</p>

<img class=logo src="{{url_for('static',filename='img/FAicon.png')}}"/>

</div>
<div class=content>
  <center>
    <form action="{{url_for('show_posts')}}" method=post class=add-entry>
      Title:<input type=text size=30 name=title /><br />
      Text:<textarea name=text rows=5 cols=40></textarea>
      <br />
      <input type=submit value=share />
</form>

  <br /><pre>

{% for entry in entries %}
  <h3>{{ entry.title }}</h3>
  <h5>{{ entry.date_created }}</h5>
      {{ entry.text }}
{% endfor %}
</pre>
</center>
</div>

<div class=footer>
  <br /><center>
<h6>earlshart@gmail.com</h6>
</center>

</div>
</body>
</html>
